.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 2rem;
    padding: 0.5rem;
    gap: 5px;
}

.footerContainer h4 {
    color: #a5aedf;
    text-shadow: 1px 1px 1px #555;
}

.footerContainer button {
    background: none;
    color: #A5AEFD;
    border: none;
    padding: 0;
    text-decoration: underline;
    font-size: 1rem;
}

.footerContainer button:hover {
    cursor: pointer;
    text-decoration: none; 
}

@media screen and (max-width: 44em) {
    .footerContainer {
        margin-inline: auto;
        padding: 1px;
        flex-direction: column-reverse;
        gap: 5px;
    }
}